@page
@model ChiChat.Pages.Messages.SentConfirmationModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Sent Confirmation";
}

<h1>@ViewData["Title"]</h1>

<p>Your message has been sent successfully!</p>
